*{margin:0;	padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{background-color:#ffffff;font-family: Roboto,"Helvetica Neue",sans-serif;}
/*@font-face {font-family: "Montserrat-Regular";font-style: normal;font-weight: normal;src:url(../fonts/Montserrat-Regular.otf);}
@font-face {font-family: "Montserrat-Medium";font-style: normal;font-weight: normal;src:url(../fonts/Montserrat-Medium.otf);}
@font-face {font-family: "Montserrat-Thin";font-style: normal;font-weight: normal;src:url(../fonts/Montserrat-Thin.otf);}*/
/**********NAVIGATION CSS***********/
.MyETPWallet_nav{height: 50px;background-color: #ffffff;
	/*background: -webkit-linear-gradient(135deg, #1c60e2, #28c6f2);
    background: -o-linear-gradient(135deg, #1c60e2, #28c6f2);
    background: -moz-linear-gradient(135deg, #1c60e2, #28c6f2);
    background: linear-gradient(135deg, #1c60e2, #28c6f2);*/}
#menu li {display:inline-block;color: #ffffff;}
#menu li.active{color: #01c3fb;}
#menu li a{text-decoration:none;color: #5d5d5d;font-weight: 400;line-height: 50px;padding: 0px 12px;font-size: 16px;}
#menu > li > a:hover, #menu > li > a:focus, #menu li.active{color: #f84b60;background-color: transparent;}
#menu li:hover{color: #Ff7a58;background-color: transparent;}
#menu li a, #menu li.active a{display:block;}
#menu li.active a{color: #01c3fb;}
.etp_navbarheader a{padding: 8px 6px;width: 160px;height: 50px;}
.etp_logo img{width: auto;height: auto;}
#menu .activeWallet{background-image: linear-gradient(to right, #01c3fb, #3df0f8);background: rgba(1, 195, 251, 1);}
#menu .activeWallet a:hover{background-image: linear-gradient(to right, #01c3fb, #3df0f8);background: rgba(1, 195, 251, 1);}
#menu .activeWallet a{color: #ffffff;}
.myETP_fullpage{}
.myETP_caption{top: 12.4375rem;}
.myETP_caption h1{font-size: 48px; font-weight: 600;text-align: left;color: #ffffff;}
.myETP_caption p{font-size: 20px;text-align: left; padding-top: 54px;color: #ffffff;text-shadow: none;}
.n_btn_mtrs{float:left;font-size:20px;margin-top: 30px;border-radius: 10px;color:#ffffff;letter-spacing: 1px;padding: 8px 26px;-webkit-transition: all .3s ease;transition: all .3s ease;font-weight: 500; background-image: linear-gradient(to right, #01c3fb, #3df0f8);}
.mac-div{top: 16.4375rem;/*position: absolute;bottom: 0rem;right: 8rem;width: 60rem;height: auto;*/}
/***********Pulse Grow*************/
@-webkit-keyframes hvr-pulse-grow {
to {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
}
@keyframes hvr-pulse-grow {
to {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
}
.hvr-pulse-grow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {background-image: linear-gradient(to right, #01c3fb, #3df0f8);color:#ffffff;background: rgba(1, 195, 251, 0.7);-webkit-animation-name: hvr-pulse-grow;animation-name: hvr-pulse-grow;-webkit-animation-duration: 0.3s;animation-duration: 0.3s;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
.section1-top{margin-top: 0.1rem;padding-left: 0rem;}
.head-text{}
.head-text h1{color: #d6d6d6;font-size: 9rem;font-weight: bold;}
.head-text h3{position:absolute;top:3.5rem;left:30%;right:30%;color: #5d5d5d;font-size: 2rem;font-weight: 400;margin-bottom: 3.8rem;padding-top: 0rem;}
.digital_1 .icon-block, .digital_2 .icon-block, .icon-block .icon-block{background-color: transparent;border: 0px;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 1.8rem;color: #5d5d5d;font-weight: 400;margin: 0.3rem 0rem;}
.digital_1 p, .digital_2 p, .digital_3 p{font-size: 1.4rem;color: #5d5d5d;font-weight: 300;text-align: center;}
.digital_1 img, .digital_2 img, .digital_3 img{margin:auto;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 8rem; height: 8rem;}

.about_h1{color: #ffffff;font-size: 3rem;font-weight: 400;}
.sec-support img, .sec-news img, .sec-github img{width: 100%;}
.sec-support h3, .sec-news h3, .sec-github h3{font-size: 1.9rem; padding: 0.9rem 0rem;text-align: center;background-color: #Ff7a58;background: rgba(255, 122, 88, 0.3);color: #ffffff;font-weight: 400;margin-bottom: 0rem;margin-top: 0.1rem;}
.sec-support p, .sec-news p, .sec-github p{font-size: 1.4rem; text-align: justify;color: #ffffff;font-weight: 400;margin-bottom: 0rem;font-family: "Montserrat-Thin";}
/***********Responsive CSS*********/
@media (min-width: 767px) {
.left_section1{display: none;}
}
@media (min-width: 1300px) {
.left_section1{display: block;}
}
/*screen resolutions smaller than 950px height*/
@media (max-width: 950px){
#section1 .left_section1{display: none;}
}