*{margin:0;	padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
@font-face {font-family: "Roboto";font-style: normal;font-weight: normal;src:url(../fonts/roboto-light.woff2);}
@font-face {font-family: "Roboto-Bold";font-style: normal;font-weight: normal;src:url(../fonts/Roboto-Bold.woff2);}
body{background-color:#ffffff;font-family: Roboto,"Helvetica Neue",sans-serif;}
/**********NAVIGATION CSS***********/
.MyETPWallet_nav{height: 50px;background: -webkit-linear-gradient(13deg, #1c60e2, #28c6f2);background: -o-linear-gradient(13deg, #1c60e2, #28c6f2);background: -moz-linear-gradient(13deg, #1c60e2, #28c6f2);background: linear-gradient(13deg, #1c60e2, #28c6f2);margin-bottom: 0px;border: 0px;}
.MyETPWallet_nav .container-fluid{background-image: url(../images/group-9.png);background-position: -240px -400px;background-repeat: repeat;background-size: 120% auto;}
#menu li {display:inline-block;color: #ffffff;padding: 0.9rem 1.4rem;}
#menu li.active{color: #ffffff;}
#menu li a{text-decoration:none;color: #ffffff;font-weight: 400;padding: 0px 12px;font-size: 16px;}
#menu > li > a:hover, #menu > li > a:focus, #menu li.active{color: #ffffff;background-color: rgba(0, 0, 0, 0.2);background-color: transparent;}
#menu li:hover{color: #ffffff;}
#menu li a, #menu li.active a{display:block;padding: 0.6rem 1.2rem;}
#menu li.active a{color: #ffffff; background-color: rgba(0, 0, 0, 0.2); padding: 0.6rem 1rem; border-radius: 5px;}
.etp_navbarheader a{padding: 8px 6px;width: 160px;height: 50px;}
.etp_logo{margin-left: 0px !important;}
.etp_logo img{width: auto;height: auto;}
#menu .activeWallet{}
#menu .activeWallet a{background-image: -webkit-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -o-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -moz-linear-gradient(to right, #01c3fb, #3df0f8);background-image: linear-gradient(to right, #01c3fb, #3df0f8);color: #ffffff;border-radius: 5px;}
#menu .activeWallet a:hover{background-image: linear-gradient(to right, #01c3fb, #3df0f8);border-radius: 5px;}
.language_icon{}
.language_icon .cn{display: block;width: auto;height: 3rem;border-radius:30px;background-image: url(../images/chinese.png);background-repeat: no-repeat;background-position: center;background-size: 80%;}
.language_icon .en{display: block;width: auto;height: 3rem;border-radius:30px;background-image: url(../images/english.png);background-repeat: no-repeat;background-position: center;background-size: 80%;}
.myETP_fullpage{}
.myETP_caption{top: 12.4375rem;}
.myETP_caption h1{font-size: 48px; font-weight: 600;text-align: left;color: #ffffff;}
.myETP_caption p{font-size: 20px;text-align: left; padding-top: 54px;color: #ffffff;text-shadow: none;}
.n_btn_mtrs{float:left;font-size:20px;margin-top: 30px;border-radius: 10px;color:#ffffff;letter-spacing: 1px;padding: 8px 26px;-webkit-transition: all .3s ease;transition: all .3s ease;font-weight: 500;background-image: -webkit-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -o-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -moz-linear-gradient(to right, #01c3fb, #3df0f8); background-image: linear-gradient(to right, #01c3fb, #3df0f8);border: 0px !important;}
.mac-div{top: 30rem;}
.mac-div img{float: right;margin: auto;}
/***********Pulse Grow*************/
@-webkit-keyframes hvr-pulse-grow {
to {-webkit-transform: scale(1.1);transform: scale(1.1);}
}
@keyframes hvr-pulse-grow {
to {-webkit-transform: scale(1.1);transform: scale(1.1);}
}
.hvr-pulse-grow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;border: 0px !important;}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {background-image: -webkit-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -o-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -moz-linear-gradient(to right, #01c3fb, #3df0f8);background-image: linear-gradient(to right, #01c3fb, #3df0f8);color:#ffffff;background: rgba(1, 195, 251, 0.7);-webkit-animation-name: hvr-pulse-grow;animation-name: hvr-pulse-grow;-webkit-animation-duration: 0.3s;animation-duration: 0.3s;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-direction: alternate;animation-direction: alternate;border: 0px !important;}
.section1-top{margin-top: 0.1rem;padding-left: 0rem;}
.head-text{}
.head-text h1{color: #d6d6d6;font-size: 10rem;font-weight: bold;font-family: Roboto-Bold,"Helvetica Neue",sans-serif;margin-bottom: 0.0rem;}
.head-text h3{position:absolute;top:4rem;left:30%;right:30%;color: #5d5d5d;font-size: 2rem;font-weight: 800;margin-bottom: 3.8rem;padding-top: 0rem;}
.digital_1 .icon-block, .digital_2 .icon-block, .icon-block .icon-block{background-color: transparent;border: 0px;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 1.8rem;color: #5d5d5d;font-weight: 400;margin: 0.3rem 0rem;}
.digital_1 p, .digital_2 p, .digital_3 p{font-size: 1.4rem;color: #5d5d5d;font-weight: 300;text-align: center;}
.digital_1 img, .digital_2 img, .digital_3 img{margin:auto;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 8rem; height: auto;}
.about_h1{color: #ffffff;font-size: 3rem;font-weight: 400;}
.sec-support img, .sec-news img, .sec-github img{width: 100%;}
.sec-support h3, .sec-news h3, .sec-github h3{font-size: 1.9rem; padding: 0.9rem 0rem;text-align: center;background-color: #Ff7a58;background: rgba(255, 122, 88, 0.3);color: #ffffff;font-weight: 400;margin-bottom: 0rem;margin-top: 0.1rem;}
.sec-support p, .sec-news p, .sec-github p{font-size: 1.4rem; text-align: justify;color: #ffffff;font-weight: 400;margin-bottom: 0rem;font-family: "Montserrat-Thin";}
.panel-group .panel-heading + .panel-collapse > .panel-body {border-bottom: solid 1px #e8e2e9;margin-top: 0px;border-radius: 0px;}
.panel-group,.panel-group .panel,.panel-group .panel-heading,.panel-group .panel-heading a,.panel-group .panel-title,.panel-group .panel-title a,.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {border-radius: 0px;border: 0;}
.panel-group .panel-heading {padding: 0;}
.panel-group .panel-heading a {display: block;background-image: -webkit-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -o-linear-gradient(to right, #01c3fb, #3df0f8);background-image: -moz-linear-gradient(to right, #01c3fb, #3df0f8);background-image: linear-gradient(100deg, #1f52e0, #03d8f5);color: #ffffff;padding: 10px 15px;text-decoration: none;position: relative;text-align: left;font-size: 1.4rem;}
.panel-group .panel-heading a.collapsed {background: #ffffff;color: #5d5d5d;font-size: 1.4rem;text-align: left;}
.panel-group .panel-heading a:after {content: '-';position: absolute;right: 20px;top:5px;font-size: 1.8rem;}
.panel-group .panel-heading a.collapsed:after {color: #1292ea;content: '+';}
.panel-group .panel-collapse {}
.panel-group .panel-body {color: #ffffff;padding: 15px;text-align: left;font-size: 1.4rem;background-image: -webkit-linear-gradient(100deg, #1f52e0, #03d8f5);background-image: -o-linear-gradient(100deg, #1f52e0, #03d8f5);background-image: -moz-linear-gradient(100deg, #1f52e0, #03d8f5);background-image: linear-gradient(100deg, #1f52e0, #03d8f5);}
.panel-group .panel {background-color: transparent;}
.dwnload_btn{border-radius: 5px;background-image: -webkit-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -o-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -moz-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: linear-gradient(101deg, #1d57e0, #04d0f4);box-shadow: 0 5px 10px 0 rgba(225, 241, 255, 0.54);color: #ffffff;font-size: 1.4rem;padding: 0.65rem 2rem;margin-bottom: 2rem;border: 0px !important;}
.dwnload_btn:hover, .dwnload_btn:focus, .dwnload_btn:active{color: #ffffff;border: 0px !important;border-radius: 5px;background-image: -webkit-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -o-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -moz-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: linear-gradient(101deg, #1d57e0, #04d0f4);box-shadow: 0 5px 10px 0 rgba(225, 241, 255, 0.54);}
.github-icon{width: 46px;height: auto;margin:1rem auto;}
.git_cnt{font-size: 1.6rem;color: #5d5d5d;text-align: center;line-height: 2.2rem;font-weight: 500;padding: 1.8rem 0rem;}
.navbar-toggle{background-color: transparent;border: 1px solid #04d0f4;}
.icon-bar{background-image: -webkit-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -o-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: -moz-linear-gradient(101deg, #1d57e0, #04d0f4);background-image: linear-gradient(101deg, #1d57e0, #04d0f4);}
.footer{background: #35444e none repeat scroll 0 0;padding-bottom: 10px;text-align: center;}
.footer .n_nav{float: none;text-align: center;width: 30rem;margin: 1rem auto;}
.n_nav li{float: left;list-style-type: none;width: 26px; height:auto;margin: 0rem 1.2rem;}
.n_nav li a{text-decoration: none;background-color: transparent;}.n_nav li a:hover{text-decoration: none;background-color: transparent;}
.n_nav li a img{width: auto;height: auto;}
.copy_text p{color: #ffffff;font-size: 1.4rem;text-align: center;padding-top: 1.2rem;font-weight: 400;}
/***********Responsive CSS*********/
@media (min-width: 767px) {
#header .container{width: 975px;}
.MyETPWallet_nav {height: 76px;}
.etp_navbarheader a {width: 220px;height: auto;padding: 18px 6px;}
#section1, #section2, #section3 {padding: 8% 0 0 0;}
.myETP_caption {top: 12.4375rem;}
#menu li {padding: 2rem 1.4rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: center;background-size: cover;}
.myETP_caption h1{font-size: 6.3rem;}
.myETP_caption p{font-size: 2.63rem;}
.n_btn_mtrs{float: none;font-size: 3.6rem;margin-top: 10rem;}
.mac-div{top:40rem;}
.mac-div img{float: none;margin: auto;width: 500px;height: auto;}
.section1-top{margin-top: 0.1rem;}
.section3-top {margin-top: 0.1rem;}
.head-text h1{font-size: 11rem;}
.head-text h3{font-size: 2.4rem;left: 0%;right: 0%;text-align: center;top: 5rem;}
.digital_1 img, .digital_2 img, .digital_3 img {width: 20rem;height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3 {font-size: 4.4rem;font-weight: 800;margin: 1rem 0rem;}
.digital_1 p, .digital_2 p, .digital_3 p {font-size: 2.4rem;font-weight: 400;}
#section2 .container{width: 990px;}
.panel-group .panel-heading a, .panel-group .panel-heading a.collapsed, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .git_cnt {font-size: 2.4rem;}
.dwnload_btn {padding: 1.4rem 3rem;margin-bottom: 2rem;margin-top: 10rem;}
.github-icon {width: 150px;margin: 2.4rem auto;}
.git_cnt {padding: 2.4rem 0rem;line-height: 4.4rem;}
.language_icon .cn, .language_icon .en{height: 3.5rem;width:3.5rem;background-size: 100%;}
}
@media (min-width: 992px) {
#header .container{width: 970px;}
#section2 .container{width: 970px;}
#section2 {padding: 1% 0 0 0;}
#section1, #section3 {padding: 3% 0 0 0;}
.myETP_caption {top: 10rem;}
.MyETPWallet_nav{height: 60px;}
.etp_navbarheader a {width: 220px;height: auto;padding: 8px 6px;}
#menu li {padding: 1.36rem 1.4rem;}
#menu li a, #menu li.active a{padding: 0.64rem 1.6rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -128px -585px;background-size: 142.5% auto;}
.mac-div img{float: none;margin: auto;width: 325px;height: auto;}
.mac-div {top: 24rem;}
.myETP_caption h1 {font-size: 4.4rem;}
.n_btn_mtrs{font-size:1.8rem;float: left;margin-top: 3.5rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .dwnload_btn{font-size: 1.46rem;}
.head-text h1 {font-size: 11rem;}
.head-text h3 {font-size: 2rem;top: 4.8rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 9rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 2.1rem;}
.section1-top {margin-top: 6rem;}
.section3-top {margin-top: 2rem;}
.github-icon {width: 100px;margin: 1rem auto;}
.dwnload_btn {padding: 0.76rem 4rem;margin-bottom: 2rem;margin-top: 0.2rem;}
.git_cnt {padding: 1.6rem 0rem;line-height: 2.8rem;}
.language_icon .cn, .language_icon .en{height: 3rem;background-size: 70%;}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
#header .container{width: 970px;}
#section2 .container{width: 970px;}
#section2 {padding: 1% 0 0 0;}
#section1, #section3 {padding: 3% 0 0 0;}
.myETP_caption {top: 10rem;}
.MyETPWallet_nav{height: 60px;}
.etp_navbarheader a {width: 220px;height: auto;padding: 8px 6px;}
#menu li {padding: 1.36rem 1.4rem;}
#menu li a, #menu li.active a{padding: 0.64rem 1.6rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -128px -585px;background-size: 142.5% auto;}
.mac-div img{float: none;margin: auto;width: 325px;height: auto;}
.mac-div {top: 24rem;}
.myETP_caption h1 {font-size: 4.4rem;}
.n_btn_mtrs{font-size:1.8rem;float: left;margin-top: 3.5rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .dwnload_btn{font-size: 1.46rem;}
.head-text h1 {font-size: 11rem;}
.head-text h3 {font-size: 2rem;top: 4.8rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 9rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 2.1rem;}
.section1-top {margin-top: 6rem;}
.section3-top {margin-top: 2rem;}
.github-icon {width: 100px;margin: 1rem auto;}
.dwnload_btn {padding: 0.76rem 4rem;margin-bottom: 2.5rem;margin-top: 0.2rem;}
.git_cnt {padding: 1.6rem 0rem;line-height: 2.8rem;}
.language_icon .cn, .language_icon .en{height: 3rem;background-size: 70%;}
}
@media (min-width: 1300px) {
#header .container{width: 1170px;}
.MyETPWallet_nav {height: 50px;}
.etp_navbarheader a {width: 160px;height: 50px;padding: 8px 6px;}
#section1, #section2, #section3 {padding: 3% 0 0 0;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -240px -400px;background-size: 120% auto;}
#menu li {padding: 0.87rem 1.4rem;}
.myETP_caption {top: 12.4375rem;}
.myETP_caption h1{font-size: 5rem;}
.myETP_caption p{font-size: 1.6rem;padding-top: 3rem;}
.n_btn_mtrs{float: left;font-size: 1.6rem;margin-top: 30px;}
.mac-div {top: 29.5rem;}
.mac-div img{float: none;margin: auto;width: 410px;height: auto;}
.section1-top{margin-top: 0.1rem;}
.section3-top {margin-top: 0.1rem;}
.head-text h1{font-size: 10rem;}
.head-text h3 {font-size: 2rem;top: 4.5rem;}
.digital_1 img, .digital_2 img, .digital_3 img {width: 8rem;height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3 {font-size: 1.8rem;}
.digital_1 p, .digital_2 p, .digital_3 p {font-size: 1.4rem;font-weight: 300;}
#section2 .container{width: 1170px;}
.panel-group .panel-heading a, .panel-group .panel-heading a.collapsed, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .git_cnt {font-size: 1.4rem;}
.dwnload_btn {padding: 0.65rem 2rem;margin-bottom: 2rem;margin-top: 0rem;}
.github-icon {width: 46px;margin: 1rem auto;}
.section1-top {margin-top: 2rem;}
.section2-top {margin-top: 0rem;}
.section3-top {margin-top: 2rem;}
.git_cnt {padding: 1.8rem 0rem;line-height: 2.2rem;}
.language_icon .cn, .language_icon .en{height: 3rem;background-size: 80%;}
}
@media (min-width: 1440px){
#header .container{width: 1300px;}
#section2 .container{width: 1300px;}
#section1, #section2, #section3 {padding: 4% 0 0 0;}
.myETP_caption {top: 16rem;}
.MyETPWallet_nav{height: 60px;}
.etp_navbarheader a {width: 225px;height: 60px;padding: 8px 6px;}
#menu li a, #menu li.active a{padding: 0.87rem 1.6rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -128px -585px;background-size: 142.5% auto;}
.mac-div img{float: none;margin: auto;width: 420px;height: auto;}
.mac-div {top: 35rem;}
.myETP_caption h1 {font-size: 6rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .n_btn_mtrs{font-size: 1.6rem;}
.head-text h1 {font-size: 12rem;}
.head-text h3 {font-size: 2.6rem;top: 5rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 10rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 4.2rem;}
.section1-top {margin-top: 9rem;}
.section3-top {margin-top: 9rem;}
.github-icon {width: 120px;margin: 1rem auto;}
.git_cnt {padding: 1.8rem 0rem;line-height: 3rem;}
.language_icon .cn, .language_icon .en{height: 4rem;background-size: 80%;}
}
@media (min-width: 1680px){
#header .container{width: 1500px;}
#section2 .container{width: 1500px;}
#section1, #section2, #section3 {padding: 2% 0 0 0;}
.myETP_caption {top: 20rem;}
.MyETPWallet_nav{height: 70px;}
.etp_navbarheader a {width: 265px;height: 70px;padding: 8px 6px;}
#menu li a, #menu li.active a{padding: 1.3rem 2.3rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -128px -585px;background-size: 142.5% auto;}
.mac-div img{float: none;margin: auto;width: 545px;height: auto;}
.mac-div {top: 34rem;}
.myETP_caption h1 {font-size: 7rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .n_btn_mtrs{font-size: 2rem;}
.head-text h1 {font-size: 12rem;}
.head-text h3 {font-size: 2.4rem;top: 5rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 10rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 4.2rem;}
.section1-top {margin-top: 10rem;}
.section3-top {margin-top: 10rem;}
.github-icon {width: 120px;margin: 1rem auto;}
.git_cnt {padding: 1.8rem 0rem;line-height: 4rem;}
.language_icon .cn, .language_icon .en{height: 4rem;background-size: 80%;}
}
@media (min-width: 1920px){
#header .container{width: 1700px;}
#section2 .container{width: 1700px;}
#section1, #section2, #section3 {padding: 4% 0 0 0;}
.myETP_caption {top: 25rem;}
.MyETPWallet_nav{height: 80px;}
.etp_navbarheader a {width: 275px;height: 80px;padding: 8px 6px;}
#menu li a, #menu li.active a{padding: 1.6rem 2.5rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -490px -655px;background-size: 135.5% auto;}
.mac-div img{float: none;margin: auto;width: 620px;height: auto;}
.mac-div {top: 40rem;}
.myETP_caption h1 {font-size: 7.5rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .n_btn_mtrs{font-size: 2.4rem;}
.head-text h1 {font-size: 16rem;}
.head-text h3 {font-size: 3rem;top: 6rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 10rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 4.2rem;}
.section1-top {margin-top: 11rem;}
.section3-top {margin-top: 14rem;}
.github-icon {width: 120px;margin: 1rem auto;}
.git_cnt {padding: 1.8rem 0rem;line-height: 4rem;}
.language_icon .cn, .language_icon .en{height: 5rem;background-size: 80%;}
}
@media (min-width: 2560px){
#header .container{width: 1900px;}
#section2 .container{width: 1900px;}
#section1, #section2, #section3 {padding: 4% 0 0 0;}
.myETP_caption {top: 30rem;}
.MyETPWallet_nav{height: 90px;}
.etp_navbarheader a {width: 315px;height: 90px;padding: 8px 6px;}
#menu li a, #menu li.active a{padding: 2rem 3rem;}
#menu .language_icon a{padding-top: 3.5rem;}
.MyETPWallet_nav .container-fluid, #section0 .container-fluid{background-position: -342px -845px;background-size: 130.5% auto;}
.mac-div img{float: none;margin: auto;width: 710px;height: auto;}
.mac-div {top: 55rem;}
.myETP_caption h1 {font-size: 8.7rem;}
#menu li a, .panel-group .panel-heading a.collapsed, .panel-group .panel-heading a, .panel-group .panel-body, .panel-group .panel-heading a:after, .dwnload_btn, .digital_1 p, .digital_2 p, .digital_3 p, .git_cnt, .myETP_caption p, .n_btn_mtrs{font-size: 3rem;}
.head-text h1 {font-size: 18rem;}
.head-text h3 {font-size: 4rem;top: 6rem;}
.digital_1 img, .digital_2 img, .digital_3 img{width: 12rem; height: auto;}
.digital_1 h3, .digital_2 h3, .digital_3 h3{font-size: 4.8rem;}
.section1-top {margin-top: 14rem;}
.section3-top {margin-top: 22rem;}
.github-icon {width: 135px;margin: 1rem auto;}
.git_cnt {padding: 1.8rem 0rem;line-height: 4.2rem;}
.language_icon .cn, .language_icon .en{height: 5rem;background-size: 70%;}
}